@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #141414;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: var(--fw-normal);
    display: flex;
    align-items: center;
    min-height: 100vh;
}


.profile {
    background-color: hsl(0, 0%, 12%);
    margin: 0 auto;
    border-radius: 12px;
    width: 384px;
    height: 640px;
    flex: 1;

}

.profile h1 {
    font-weight: var(--fw-bold);
    color: #f1f1f1;
    margin-bottom: 17px;
    font-size: 27px;
}



h2 {
    color: #b7ce74;
    margin-bottom: 31px;
    font-size: 20px;
}

p {
    color: hsl(0, 0%, 100%);
    margin-bottom: 28px;
    font-size: 14px;
}

a {
    display: block;
    text-decoration: none;
}

nav ul,
nav li {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}

li {
    margin-left: 38px;
    margin-right: 38px;
}

.social_midea li a {
    background-color: #3d3b3b;
    padding: 12px;
    border-radius: 10px;
    margin-top: 16px;
    font-weight: var(--fw-semi-bold);
    transition: all 0.3s ease-in-out;
}

.social_midea li:hover a {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    font-weight: var(--fw-semi-bold);
}

nav ul {
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;

}

.page {
    text-align: center;
    display: flex;
}

.Fotos {
    height: 90px;
    width: 90px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 90px;
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: #3d3b3b;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}